.blog-container {
  display: flex;
  flex-direction: row; /* 가로 정렬 */
}

.sidebar {
  width: 20%; /* 왼쪽 사이드바 너비 */
  padding: 20px;
  border-right: 1px solid #ddd; /* 구분선 */
}

.main-content {
  width: 80%; /* 오른쪽 콘텐츠 영역 너비 */
  padding: 20px;
}

#category-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}
