---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}

<div class="category-filter">
  <label for="category-select">Filter by Category:</label>
  <select id="category-select" onchange="location = this.value;">
    <option value="/">All Categories</option>
    {% for category in site.categories %}
      <option value="{{ site.baseurl }}/categories/{{ category[0] | slugify }}/">
        {{ category[0] }}
      </option>
    {% endfor %}
  </select>
</div>
